<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupTitle</key>
		<string>系统控件类别（Category）</string>
		<key>groupCells</key>
		<array>
			<dict>
				<key>name</key>
				<string>UIAlertView+Additions</string>
				<key>viewController</key>
				<string>UIAlertViewCategoryDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>UIButton+Additions</string>
				<key>viewController</key>
				<string>UIButtonCategoryDemo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>基于系统控件的自定义控件封装</string>
		<key>groupCells</key>
		<array>
			<dict>
				<key>name</key>
				<string>ICWebView</string>
				<key>viewController</key>
				<string>ICWebViewDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICDoubleColumnPicker</string>
				<key>viewController</key>
				<string>ICDoubleColumnPickerDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICButton</string>
				<key>viewController</key>
				<string>ICButtonDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICLabel</string>
				<key>viewController</key>
				<string>ICLabelDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICTextField</string>
				<key>viewController</key>
				<string>ICTextFieldDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICPageControl</string>
				<key>viewController</key>
				<string>ICPageControlDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICDatePicker</string>
				<key>viewController</key>
				<string>ICDatePickerDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICTextView</string>
				<key>viewController</key>
				<string>ICTextViewDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICProgressView</string>
				<key>viewController</key>
				<string>ICProgressViewDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICSingColumnPicker</string>
				<key>viewController</key>
				<string>ICSingColumnPickerDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICCircleScrollBanner</string>
				<key>viewController</key>
				<string>ICCircleScrollBannerDemo</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>调用设备的功能封装</string>
		<key>groupCells</key>
		<array>
			<dict>
				<key>name</key>
				<string>ICMediaPickerHelper</string>
				<key>viewController</key>
				<string>ICMediaPickerHelperDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICSimpleCamera</string>
				<key>viewController</key>
				<string>ICSimpleCameraDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICQRCodeRecognizer</string>
				<key>viewController</key>
				<string>ICQRCodeRecognizerDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICMultiAlbum</string>
				<key>viewController</key>
				<string>ICMultiAlbumDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICCommunicationHelper</string>
				<key>viewController</key>
				<string>ICCommunicationHelperDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICCalendarEventHelper</string>
				<key>viewController</key>
				<string>ICCalendarEventHelperDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICAudioRecorder</string>
				<key>viewController</key>
				<string>ICAudioRecorderDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICAddressBookHelper</string>
				<key>viewController</key>
				<string>ICAddressBookHelperDemo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ICDeviceInfoHelper</string>
				<key>viewController</key>
				<string>ICDeviceInfoHelperDemo</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
